name: Terraform Stacks (OIDC) - Prod

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  AWS_ROLE_ARN: ${{ vars.AWS_ROLE_ARN }}

  # Backend PROD (fixo)
  TF_STATE_BUCKET: toshiro-ecommerce-prod-tfstate
  TF_LOCK_TABLE: toshiro-ecommerce-prod-tfstate-lock

jobs:
  bootstrap:
    name: 00-bootstrap
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: gha-terraform-prod-bootstrap

      - name: Apply bootstrap
        working-directory: stacks/00-bootstrap
        run: |
          terraform init -reconfigure \
            -backend-config="bucket=${{ env.TF_STATE_BUCKET }}" \
            -backend-config="key=prod/00-bootstrap/terraform.tfstate" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="encrypt=true" \
            -backend-config="dynamodb_table=${{ env.TF_LOCK_TABLE }}"
          terraform apply -auto-approve -var-file=../env/prod.tfvars

  networking:
    name: networking
    needs: bootstrap
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: gha-terraform-prod-networking

      - name: Apply networking
        working-directory: stacks/networking
        run: |
          terraform init -reconfigure \
            -backend-config="bucket=${{ env.TF_STATE_BUCKET }}" \
            -backend-config="key=prod/networking/terraform.tfstate" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="encrypt=true" \
            -backend-config="dynamodb_table=${{ env.TF_LOCK_TABLE }}"
          terraform apply -auto-approve -var-file=../env/prod.tfvars

  security:
    name: security
    needs: networking
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: gha-terraform-prod-security

      - name: Apply security
        working-directory: stacks/security
        run: |
          terraform init -reconfigure \
            -backend-config="bucket=${{ env.TF_STATE_BUCKET }}" \
            -backend-config="key=prod/security/terraform.tfstate" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="encrypt=true" \
            -backend-config="dynamodb_table=${{ env.TF_LOCK_TABLE }}"
          terraform apply -auto-approve -var-file=../env/prod.tfvars

  data:
    name: data
    needs: security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: gha-terraform-prod-data

      - name: Apply data
        working-directory: stacks/data
        run: |
          terraform init -reconfigure \
            -backend-config="bucket=${{ env.TF_STATE_BUCKET }}" \
            -backend-config="key=prod/data/terraform.tfstate" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="encrypt=true" \
            -backend-config="dynamodb_table=${{ env.TF_LOCK_TABLE }}"
          terraform apply -auto-approve -var-file=../env/prod.tfvars